<h1> Welcome to the Affinity Groups!!</h1>

<h2> List of all the Users!!</h2>

<table>
<tr>
  <td>
<% for user in @userprofiles %>
  <p> <a href="/userprofiles/<%= user.id %>"><%= user.firstname %> <%= user.lastname %>  <%= link_to "Edit", edit_userprofile_path(user.id) %> <%= link_to "Delete", userprofile_path(user.id), method: :delete   %></a></p>
<% end %>
  </td>
</tr>
</table>


<%= link_to "New User Profile", new_userprofile_path %>
