<h1> User Details of <%=  @userprofile.firstname %> <%= @userprofile.lastname  %> </h1>
<br><br>


<p> Date of Birth: <%=  @userprofile.dateofbirth %> </p>
<br>

<p> Permanent Location: <%=  @userprofile.permanentlocation %> </p>
<br>

<p> Company: <%=  @userprofile.company %> </p>
<br>
